$darkLilac: #614b65;
$lilac: #9a7aa0;
$darkPurple: #542d84;
$grey: #5c5762;
$black: #000000;
$white: #ffffff;
$otherBlack: #302e2b;
$dullGreen: #749497;
$pastelGreen: #b4edd2;
$silver: #8d94ba;
$yellowGold: #ffaa00;
$lightPink: #ffa4a4;
